.ws_data_table th {
  text-transform: inherit;
  white-space: nowrap;
  background-color: #3366CC;
  color: #FFFFFF;
  padding: 2px 10px 2px 10px;
  border-right: #FFFFFF;
  border-width: 1px;
  border-style: none dotted none none; }

.ws_data_table td {
  padding: 5px 10px 5px 10px;
  border-right: #cccccc;
  border-width: 1px;
  border-style: none dotted none none;
  vertical-align: top; }

.ws_data_table tr:nth-child(odd) {
  background-color: #FFFFFF; }

.ws_data_table tr:nth-child(even) {
  background-color: #E6E6E6; }
